:root{
    color-scheme: dark;
}

body{
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1, h3, p{
    text-transform: uppercase;
    color: white;
}

.avatar{
    width: 75px;
    height: 75px;
    border-radius: 50%;
}

button{
    border: 0px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px;
    background: black
}

button:hover{
    background: #252525;
    transition: 300ms;
}

img {
    cursor: pointer;
    transition: .5s;
  }
    
  img:hover {
    box-shadow: 0 0 25px #ff0000;
  }